@model OrderListViewModel
@{
    ViewBag.Title = "Order List";
    Layout = "~/Views/Shared/CommonList.cshtml";
}

@*<script src="http://cdn.kendostatic.com/2011.3.1129/js/kendo.all.min.js"></script>
<link href="http://cdn.kendostatic.com/2011.3.1129/styles/kendo.common.min.css" rel="stylesheet">*@

@using (Html.BeginForm())
{
    <table width="100%">
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.UpdateOrderFrom):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.UpdateOrderFrom)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.UpdateOrderTo):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.UpdateOrderTo)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="btnUpdateOrder" class="k-button" value="Update Orders Instructions" />
                <img id="imgLoading" src="~/Content/images/loading.gif" style="display:none;" />
                <script>
                    $(document).ready(function () {
                        $("#btnUpdateOrder").click(function (e) {
                            if ($('#@Html.FieldIdFor(model => model.UpdateOrderFrom)').val() == "" || $('#@Html.FieldIdFor(model => model.UpdateOrderTo)').val() == "")
                            {
                                alert("Please input From Date and To Date.");
                                return false;
                            }

                            var link = "@Html.Raw(Url.Action("UpdateOrderDeliveryInstruction", "Order"))"
                            var postData = {
                                UpdateOrderFrom: $('#@Html.FieldIdFor(model => model.UpdateOrderFrom)').val(),
                                UpdateOrderTo: $('#@Html.FieldIdFor(model => model.UpdateOrderTo)').val()
                            };
                            //debugger;
                            $.ajax({
                                url: link,
                                type: "POST",
                                data: postData,
                                dataType: "json",
                                beforeSend: function () {
                                    $("#imgLoading").show();
                                },
                                complete: function () {
                                    $("#imgLoading").hide();
                                },
                                success: function (data) {
                                    if (data.Result) {
                                        alert("Update Order Success");
                                    }
                                    else {
                                        if (data.Message != "")
                                            alert(data.Message);
                                        else
                                            alert("Unknown error occurred.");
                                    }
                                    window.location = '@Url.Action("List")';
                                },
                                error: function (data) {
                                    //debugger;
                                    alert("error");
                                }
                            });
                            return false;
                        });

                        $("#btnExportDSZFile").click(function (e) {
                            //debugger;
                            e.preventDefault();
                            if (selectedIds.length == 0) {
                                alert("Please select more than one order to export.");
                                return false;
                            } 

                            var link = "@Html.Raw(Url.Action("ExportDSZFile", "Order"))"
                            var ids = selectedIds.join(",");
                            var postData = {
                                orderIds: ids
                            };

                            $.ajax({
                                url: link,
                                type: "POST",
                                //contentType: "application/json; charset=utf-8",
                                data: postData,
                                dataType: "json",
                                beforeSend: function () {
                                    $("#imgLoading").show();
                                },
                                complete: function () {
                                    $("#imgLoading").hide();
                                },
                                success: function (data) {
                                    if (data.Result) {
                                        window.location = '@Html.Raw(Url.Action("Download", new { FileGuid = "_FileGuid_" }))'.replace('_FileGuid_', data.FileGuid);
                                    }
                                    else {
                                        alert("Export Orders Failed");
                                        window.location = '@Url.Action("List")';
                                    }

                                },
                                error: function (data) {
                                    //debugger;
                                    alert("error");
                                }
                            });
                            return false;
                        });

                    });

                </script>
            </td>
        </tr>
    </table>

    <div style="border-bottom: 1px dotted #998675;margin-top: 30px;margin-bottom: 10px;height: 35px;">
        <div style="float:left; font-size:x-large;color:brown;">Search Criteria</div>
        <div id="divOperationBtn" style="float:right">
                <input type="button" id="btnExportDSZFile" class="k-button" value="Export DSZ File" />
        </div>
    </div>

    <table width="100%">
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchChannelOrderID):
            </td>
            <td>
                @Html.EditorFor(model => model.SearchChannelOrderID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchCustomerID):
            </td>
            <td>
                @Html.EditorFor(model => model.SearchCustomerID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchConsigneeName):
            </td>
            <td>
                @Html.EditorFor(model => model.SearchConsigneeName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchSKU):
            </td>
            <td>
                @Html.EditorFor(model => model.SearchSKU)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.OrderTimeFrom):
            </td>
            <td>
                @Html.EditorFor(model => model.OrderTimeFrom)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.OrderTimeTo):
            </td>
            <td>
                @Html.EditorFor(model => model.OrderTimeTo)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchJobItemID):
            </td>
            <td>
                @Html.EditorFor(model => model.SearchJobItemID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchStatusID):
            </td>
            <td>
                @Html.DropDownListFor(model => model.SearchStatusID, Model.OrderStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle" colspan="2">
                <input type="button" id="btnSearch" class="k-button" value="Search" />
                <input type="button" id="btnClearAll" class="k-button" value="Clear All" />
            </td>
        </tr>
    </table>

    <table class="adminContent">
        <tr>
            <td>
                <div id="order-grid"></div>

                <script>
                    $(document).ready(function () {
                        var OrderTransactionsColumnTemplate = "#if(OrderTransactions!='' ){var orderTrans=OrderTransactions.split(';'); for(var i = 0; i < orderTrans.length; i = i+1){# <a href='@Url.Action("ScreenshotDisplay", "Order")?orderTran=#=orderTrans[i]#' target='_blank'>#=orderTrans[i]#</a> #} }# ";
                        $("#order-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("List", "Order"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    },
                                    update: {
                                        url: "@Html.Raw(Url.Action("GridDataUpdate", "Order"))",
                                        type: "POST",
                                        dataType: "json"
                                        //data: gridUpdateData
                                    }
                                },
                                requestEnd: function (e) {
                                    if (e.type == "update")
                                        RefreshGrid(false);
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "ID",
                                        fields: {
                                            ID: { editable: false, type: "number" },
                                            ChannelOrderID: { editable: false, type: "string" },
                                            OrderTransactions: { editable: false, type: "string" },
                                            Ref2: { editable:@if (Model.CanEditOrder)
                                            {<text>true </text> }
                                            else { <text> false </text>}, type: "string" },
                                            Ref3: { editable: @if (Model.CanEditOrder)
                                            {<text>true </text> }
                                            else { <text> false </text>}, type: "string" },
                                            Ref4: { editable: @if (Model.CanEditOrder)
                                            {<text>true </text> }
                                            else { <text> false </text>}, type: "string" },
                                            Ref5: { editable: @if (Model.CanEditOrder)
                                            {<text>true </text> }
                                            else { <text> false </text>}, type: "string" },
                                            OrderTime: { editable: false, type: "date" },
                                            PaidTime: { editable: false, type: "date" },
                                            SKUs: { editable: false, type: "string" },
                                            Ref1: { editable: false, type: "string" },
                                            BuyerNote: { editable: false, type: "string" },
                                            CustomerID: { editable: false, type: "string" },
                                            ConsigneeName: { editable: false, type: "string" },
                                            TotalAmount: { editable: false, type: "number" },
                                            //StatusText: { editable: true, type: "string" },
                                            StatusID:{ editable: @if (Model.CanEditOrder)
                                            {<text>true </text> }
                                            else { <text> false </text>}, type: "number" }
                                            
                                        }
                                    }
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: "100",
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: ["100", "300", "1000"]
                            },
                            //editable: {
                            //    confirmation: false,
                            //    mode: "inline"
                            //},
                            editable: true,
                            toolbar: ["save"],
                            edit: function (e) {
                                $(document).unbind("keypress");
                                var input = e.container.find(".k-input");
                                input.blur(function () {
                                    $(document).on('keypress', function (ev) {
                                        if (ev.which == 13) {
                                            if ($("#btnSearch").length)
                                                $("#btnSearch").click();
                                            else if (typeof RefreshGrid === "function")
                                                RefreshGrid(false);
                                        }
                                    });
                                });
                                //$("[name='Ref2']", e.container).keypress(function (event) {
                                //    if (event.keyCode == 13) {
                                //        debugger;
                                //        event.preventDefault();
                                //    }
                                //});
                                if (e.model.isNew()) {
                                    //little hack here
                                    //pre-select the first value of kendoui dropdownlist datasource
                                    //for some reasons (maybe, bug) it always sends 0
                                    //if no value has been selected (changed) in the dropdownlist
                                    if (allOrderStatuses.length > 0) {
                                        e.model.StatusID = allOrderStatuses[0].StatusID;
                                    }
                                }
                            },
                            scrollable: false,
                            dataBound: onDataBound,
                            columns: [
                                {
                                    field: "ID",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=ID#' class='checkboxGroups'/>",
                                    width: 50
                                }, {
                                    field: "ChannelOrderID",
                                    @*template: "<a href='@Url.Action("Edit")?ItemID=#=ID#' target='_blank' > #=SKU#</a>",*@
                                    title: "Order ID",
                                    width: 80
                                }, {
                                    field: "OrderTransactions",
                                    template: OrderTransactionsColumnTemplate,
                                    title: "Order Transactions",
                                    width: 120
                                }, {
                                    field: "CustomerID",
                                    title: "Customer ID",
                                    width: 100
                                }, {
                                    field: "SKUs",
                                    title: "SKU Details",
                                    width: 130
                                }, {
                                    field: "TotalAmount",
                                    title: "Total Amount",
                                    width: 100
                                },{
                                    field: "Ref2",
                                    title: "______OrderIssue(Problem)______",
                                    width: 150,
                                    editor: customRichEditor,
                                    template: "<span style='white-space:pre-wrap; word-wrap:break-word'>#=Ref2#</span>"
                                }, {
                                    field: "Ref3",
                                    title: "_________WarehouseNote_________",
                                    width: 100,
                                    editor: customRichEditor,
                                    template: "<span style='white-space:pre;'>#=Ref3#</span>"
                                }, {
                                    field: "Ref4",
                                    title: "______CSNoteToWarehouse______" ,
                                    width: 100,
                                    editor: customRichEditor,
                                    template: "<span style='white-space:pre;'>#=Ref4#</span>"
                                }, {
                                    field: "Ref5",
                                    title: "____________CSNote____________",
                                    width: 100,
                                    editor: customRichEditor,
                                    template: "<span style='white-space:pre;'>#=Ref5#</span>"
                                }, {
                                    field: "StatusID",
                                    title: "Status",
                                    editor: statusDropDownEditor,
                                    width: 80,
                                    template: getStatusText
                                }, {
                                    field: "BuyerNote",
                                    title: "Custom Delivery Instructions",
                                    width: 250
                                }, {
                                    field: "ConsigneeName",
                                    title: "Consignee Name",
                                    width: 100
                                },{
                                    field: "OrderTime",
                                    title: "Order Time",
                                    width: 100,
                                    type: "date",
                                    format: "{0:dd/MM/yyyy HH:mm:ss}"
                                }, {
                                    field: "PaidTime",
                                    title: "Paid Time",
                                    width: 100,
                                    type: "date",
                                    format: "{0:dd/MM/yyyy HH:mm:ss}"

                                }
                            ]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>

    <script>
    var selectedIds = [];
    $(document).ready(function () {

        //clear all button
        $('#btnClearAll').click(function () {
            $('#@Html.FieldIdFor(model => model.OrderTimeFrom)').val("");
            $('#@Html.FieldIdFor(model => model.OrderTimeTo)').val("");
            $('#@Html.FieldIdFor(model => model.SearchChannelOrderID)').val("");
            $('#@Html.FieldIdFor(model => model.SearchSKU)').val("");
            $('#@Html.FieldIdFor(model => model.SearchCustomerID)').val("");
            $('#@Html.FieldIdFor(model => model.SearchConsigneeName)').val("");
            $('#@Html.FieldIdFor(model => model.SearchJobItemID)').val("");
            $('#@Html.FieldIdFor(model => model.SearchStatusID)').val("0");

            selectedIds = [];

            RefreshGrid(false);

            return false;
        });

        //$('textarea').keypress(function (event) {

        //    if (event.keyCode == 13) {
        //        debugger;
        //        event.preventDefault();
        //    }
        //});
    });

    function additionalData() {
        return {
            OrderTimeFrom: $('#@Html.FieldIdFor(model => model.OrderTimeFrom)').val(),
            OrderTimeTo: $('#@Html.FieldIdFor(model => model.OrderTimeTo)').val(),
            SearchChannelOrderID: $('#@Html.FieldIdFor(model => model.SearchChannelOrderID)').val(),
            SearchCustomerID: $('#@Html.FieldIdFor(model => model.SearchCustomerID)').val(),
            SearchConsigneeName: $('#@Html.FieldIdFor(model => model.SearchConsigneeName)').val(),
            SearchSKU: $('#@Html.FieldIdFor(model => model.SearchSKU)').val(),
            SearchJobItemID: $('#@Html.FieldIdFor(model => model.SearchJobItemID)').val(),
            SearchStatusID: $('#@Html.FieldIdFor(model => model.SearchStatusID)').val(),
        };
        }

    //    function gridUpdateData() {
    //        debugger;
    //        var grid = $('#order-grid').data('kendoGrid');
    //        var data = grid.dataSource.data();
    //        var dirty = $.grep(data, function (item) {
    //            return item.dirty
    //        });
    //        return JSON.stringify({
    //            orders: dirty
    //    });

    //}

        //local datasource
            var allOrderStatuses = [
                @foreach(var status in Html.EnumToList<ThirdStoreOrderStatus>())
                {
                    <text>
                        {
                            StatusID: @status.ToValue(),
                            StatusText: "@status.ToName()"
                        },
                    </text>
                }
            ];
        function customRichEditor(container, options) {
            $('<textarea cols="100" name="' + options.field + '" rows="15" class="k-input k-textbox" data-bind="value:' + options.field+'"></textarea>').appendTo(container);
        }

        function statusDropDownEditor(container, options) {
            //$('<input required name="' + options.field + '" />')
            $('<input data-text-field="StatusText" data-value-field="StatusID" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    dataSource: allOrderStatuses,
                    dataTextField: "StatusText",
                    dataValueField: "StatusID"
                });
        };

        function getStatusText(dataItem) {
            //var statusID = dataItem.StatusID;
            //var text = $.grep(allOrderStatuses, function (n, i) {
            //    return n.StatusID == statusID;
            //});
            //return text[0].StatusText ? text[0].StatusText : "No Status found";
            return allOrderStatuses.find(s => s.StatusID == dataItem.StatusID).StatusText;
        }

        
    </script>

}


@using (Html.BeginForm("ExportDSZFile", "Order", FormMethod.Post, new { id = "export-dszfile-form" }))
{
    <input type="hidden" id="orderIds" name="orderIds" value="" />
}

