@model ReturnItemListViewModel
@{
    ViewBag.Title = "Return Item List";
    Layout = "~/Views/Shared/CommonList.cshtml";
}



@using (Html.BeginForm())
{
    <div style="border-bottom: 1px dotted #998675;margin-top: 30px;margin-bottom: 10px;height: 35px;">
        <div style="float:left; font-size:x-large;color:brown;">Search Criteria</div>
        <div id="divOperationBtn" style="float:right;margin-top:5px;">
            @*<input type="button" id="btnConvertJobItem" class="k-button" value="Convert Job Item" />*@
        </div>

    </div>
    <script>
        $(document).ready(function () {
            $("#btnConvertJobItem").click(function (e) {
                if (selectedIds.length != 1) {
                    alert("Please select one return item to convert.");
                    return false;
                }

                var selectedReturnItemID = selectedIds[0];
                var link = '@Html.Raw(Url.Action("Create", "JobItem", new { FromReturnItemID = "_selectedReturnItemID_" }))'.replace('_selectedReturnItemID_', selectedReturnItemID);
                location.href = link;
            });
        });
    </script>
    <table width="100%">
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchTrackingNumber):
            </td>
            <td>
                @Html.EditorFor(model => model.SearchTrackingNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchSKU):
            </td>
            <td>
                @Html.EditorFor(model => model.SearchSKU)
            </td>
        </tr>


        <tr>
            <td class="adminTitle" colspan="2">
                <input type="button" id="btnSearch" class="k-button" value="Search" />
                <input type="button" id="btnClearAll" class="k-button" value="Clear All" />
            </td>
        </tr>
    </table>

    <table class="adminContent">
        <tr>
            <td>
                <div id="returnItem-grid"></div>

                <script>
                    $(document).ready(function () {
                        var skusTemplate = "#if(SKUs!=''&&SKUs!=null&&SKUs!=undefined ){var skuInfos=SKUs.split(';'); for(var i = 0; i < skuInfos.length; i = i+1){var skuInfo=skuInfos[i].split(','); var sku=skuInfo[0]; var itemId=skuInfo[1];  # <a href='@Url.Action("EditBySKU", "Item")?SKU=#=sku#' target='_blank'>#=sku#</a><br /> #} }#";
                        $("#returnItem-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("List", "ReturnItem"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: "50",
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: ["50", "100", "300"]
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            dataBound: onDataBound,
                            columns: [
                                {
                                    field: "ID",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=ID#' class='checkboxGroups'/>",
                                    width: 50
                                }, {
                                    field: "ID",
                                    template: "<a href='@Url.Action("Edit")?ReturnItemID=#=ID#' target='_blank' > #=ID#</a>",
                                    title: "ID"
                                }, {
                                    field: "Status",
                                    title: "Status"
                                }, {
                                    field: "SKUs",
                                    title: "SKU",
                                    template: skusTemplate,
                                }, {
                                    field: "TrackingNumber",
                                    title: "TrackingNumber"
                                }, {
                                    field: "Note",
                                    title: "Note"
                                }, {
                                    field: "Note",
                                    title: "Note"
                                }, {
                                    field: "CreateTime",
                                    title: "Create Time",
                                    type: "date",
                                    format: "{0:dd/MM/yyyy HH:mm:ss}"
                                }
                            ]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>

    <script>
    var selectedIds = [];
    $(document).ready(function () {

        //clear all button
        $('#btnClearAll').click(function () {

            $('#@Html.FieldIdFor(model => model.SearchTrackingNumber)').val("");
            $('#@Html.FieldIdFor(model => model.SearchSKU)').val("");

            selectedIds = [];
            $('#selectedNum').text(selectedIds.length + ' selected');
            RefreshGrid(false);

            return false;
        });

    });
    function additionalData() {
        return {
            SearchTrackingNumber: $('#@Html.FieldIdFor(model => model.SearchTrackingNumber)').val(),
            SearchSKU: $('#@Html.FieldIdFor(model => model.SearchSKU)').val()
        };
    }
    </script>

}


