@model UserListViewModel
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/CommonList.cshtml";
}



@using (Html.BeginForm())
{
    <div style="border-bottom: 1px dotted #998675;margin-top: 30px;margin-bottom: 10px;height: 35px;">
        <div style="float:left; font-size:x-large;color:brown;">Search Criteria</div>
        <div id="divOperationBtn" style="float:right">
            <img id="imgLoading" src="~/Content/images/loading.gif" style="display:none;" />
            <input type="button" id="btnCreateNew" class="k-button" value="Create New SKU" />
            <script>
                $(document).ready(function () {

                    $('#btnCreateNew').click(function () {
                        var link="@Html.Raw(Url.Action("CreateUser", "AccessControl"))"
                        location.href = link;
                    });


                });
            </script>
        </div>
    </div>

    <table width="100%">
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchName):
            </td>
            <td>
                @Html.EditorFor(model => model.SearchName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchDescription):
            </td>
            <td>
                @Html.EditorFor(model => model.SearchDescription)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchEmail):
            </td>
            <td>
                @Html.EditorFor(model => model.SearchEmail)
            </td>
        </tr>
        
        <tr>
            <td>
                @Html.LabelFor(model => model.SearchStatus):
            </td>
            <td>
                @Html.DropDownListFor(model => model.SearchStatus, Model.YesOrNo)
            </td>
        </tr>
        <tr>
            <td class="adminTitle" colspan="2">
                <input type="button" id="btnSearch" class="k-button" value="Search" />
                <input type="button" id="btnClearAll" class="k-button" value="Clear All" />
            </td>
        </tr>
    </table>

    <table class="adminContent">
        <tr>
            <td>
                <div id="user-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#user-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("UserList", "AccessControl"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: "50",
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: ["20", "50", "100"]
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            dataBound: onDataBound,
                            columns: [
                                {
                                    field: "ID",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=ID#' class='checkboxGroups'/>",
                                    width: 50
                                }, {
                                    field: "Name",
                                    template: "<a href='@Url.Action("Edit")?UserID=#=ID#' target='_blank' > #=Name#</a>",
                                    title: "Name"
                                }, {
                                    field: "Description",
                                    title: "Description"
                                }, {
                                    field: "Email",
                                    title: "Email"
                                }, {
                                    field: "StatusID",
                                    title: "Is Active",
                                    template: "#= !!StatusID#"
                                }
                            ]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>

    <script>
    var selectedIds = [];
    $(document).ready(function () {

        //clear all button
        $('#btnClearAll').click(function () {

            $('#@Html.FieldIdFor(model => model.SearchName)').val("");
            $('#@Html.FieldIdFor(model => model.SearchDescription)').val("");
            $('#@Html.FieldIdFor(model => model.SearchEmail)').val("");
            $('#@Html.FieldIdFor(model => model.SearchStatus)').val("0");

            selectedIds = [];

            RefreshGrid(false);

            return false;
        });

    });
    function additionalData() {
        return {
            SearchName: $('#@Html.FieldIdFor(model => model.SearchName)').val(),
            SearchDescription: $('#@Html.FieldIdFor(model => model.SearchDescription)').val(),
            SearchEmail: $('#@Html.FieldIdFor(model => model.SearchEmail)').val(),
            SearchStatus: $('#@Html.FieldIdFor(model => model.SearchStatus)').val()
        };
    }
    </script>

}